/*  CSS Document                             */
/*  sliding panels                         */

/* styles */

body { font: 14px Arial; margin: 0px; padding: 30px; background-color: #fff; }
a, a:visited { color: #00f; }
h1.fpo_text { color: #aaa; font-family: Times; font-size: 24px; }
p.fpo_text { color: #aaa; font-family: Times; font-size: 16px; }

.sp h2 { font-size: 1.15em; margin: 0 0 .5em 0; }
.sp p { font-size: 1em; margin: 0 0 1em 0; }

/* layout */
.sp { width: 500px; position: relative; float: right; margin: 0px 0px 10px 25px; }

.sp .tabs { position: relative; z-index: 101; display: none; }

.sp .tabs span {
	display: inline-block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 8px 12px 8px 12px;
	margin: 0px;
	background-color: #fff;
	cursor: pointer;
	position: relative;
}

.sp .tabs span:first-child {
	padding-left: 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
}

.sp .tabs span:last-child {
	padding-right: 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
}

.sp .tabs span.selected {
	color: #999;
	border-bottom: 1px solid #fff;
}

.sp .panel_container {
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	overflow: hidden;
	z-index: 100;
	margin-top: -1px;
}

.sp .panel_container .panel .panel_content { padding: 15px 15px 5px 15px; }

.sp .tabs .ipad.selected { color: #fff; background-color: #8dbc52; border-bottom: 1px solid #8dbc52; }
.sp .panels .ipad { background: url(../images/background1.jpg) repeat 0px 0px; }
.sp .panels .ipad h2 { color: #fff; }
.sp .panels .ipad p { color: #284108; margin-right: 150px; }
.sp .panels .ipad a { color: #fff; }

.sp .tabs .video.selected { color: #ffce6f; background-color: #3a3563; border-bottom: 1px solid #354e5c; }
.sp .panels .video { background: url(../images/background1.jpg) repeat 0px 0px; }
.sp .panels .video .panel_content { margin-right: 125px; }
.sp .panels .video .panel_content h2 { color: #000; }
.sp .panels .video .panel_content p { color: #fff; }
.sp .panels .video .panel_content a { color: #ffce6f; }

.sp .tabs .photo.selected { color: #fff; background-color: #000; border-bottom: 1px solid #000; }
.sp .panels .photo { background: url(../images/background1.jpg) repeat 0px 0px; }
.sp .panels .photo .panel_content { margin-right: 150px; }
.sp .panels .photo h2 { color: #fff; }
.sp .panels .photo p { color: #fff; }
.sp .panels .photo a { color: #ffcc00; }
.sp .panels .thumbnail { border: 1px solid #fff; }

.comment-meta img {
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.ie8 .comment-meta img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.9961946980917455, M12=0.08715574274765817, M21=-0.08715574274765817, M22=0.9961946980917455)";
	position: relative;
	top: -5px;
	left: -5px;
}

blockquote p {
	margin: 0;
	padding: 0 0 10px 0;
}
blockquote {
	position: relative;
	min-height: 42px;
	margin: 0 0 0 112px;
	padding: 10px 15px 5px 15px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px; /* Safari 4 and earlier */
	border-radius: 20px; /* Opera, Chrome, Safari 5, IE 9 */
	border-top: 1px solid #fff;
	background-color: hsla(182,44%,76%,.5);
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,0) 30px);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(hsla(0,0%,100%,.6)), to(hsla(0,0%,100%,0)));
	-moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
	word-wrap: break-word;
}
.ie6 blockquote, .ie7 blockquote { /* IE 5.5, 6, 7 */
	background: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E3F4EE, endColorstr=#99A6DADC);
	zoom: 1;
}
.ie8 blockquote {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E3F4EE, endColorstr=#99A6DADC)";
}
li:nth-child(even) blockquote {
	background-color: hsla(200,70%,76%,.5);
}
blockquote:after {
	content: "\00a0"; /* &nbsp; */
	display: block;
	position: absolute;
	top: 20px;
	left: -20px; /* width of right border */
	width: 0;
	height: 0;
	border-width: 10px 20px 10px 0;
	border-style: solid;
	border-color: transparent hsla(182,44%,76%,.5) transparent transparent;
}
blockquote:hover {
	top: -2px;
	left: -2px;
	-moz-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	box-shadow: 3px 3px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
	text-shadow: 1px 1px 1px hsla(0,0%,100%,.7); /* FF, Opera, Safari, Chrome */
}
